.post_icon_tray {
    display: block;
    width: 80%;
} 

canvas {
	display :none;
}

.oldPictures {
	width: 600px;
	height: 450px;
}

#picture {
	display:inline-block;
}

#photo {
	display : none;
}

#banana:active, #sax:active, #cock:active {
	border: 2px solid #474747;
}

#banana, #sax, #cock {
	width: 193px;
	height: 300px;
}
