.post_icon_tray {
    display: block;
    width: 60%;
} 

#imgContainer {
	float: right;
}

#PageContent {
	float: left;
}

canvas {
	display :none;
}

.filters {
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	position: relative
	}
	.filters:hover {
	filter: brightness(100%);
	-webkit-filter: brightness(100%);	
	}

.oldPictures {
	width: 200px;
	height: 200px;
}

#picture {
	display:flex;
	margin-left: 50%;
}

#photo {
	display : none;
}