header {
    display: flex;
    justify-content: center;
}

.header-div {
}

footer {
    display: flex;
    justify-content: center;
}

.footer-div {
}

.view {
    display: block;
    margin-left: auto;
    margin-right: auto;
}