.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border-radius: 2px;
}
  
.header a {
    float: left;
    color: #474747;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 2px;
}
  
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
}
  
.header a.active {
    background-color: #474747;
    color: white;
}
  
.header-right {
    float: right;
}
  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: #474747;
    text-align: center;
    border-radius: 2px;
}

#container {
    position: relative;
    margin:auto;
    margin-top: 20px;
    width: 600px;
    height: 600px;
    background-color: #FFFFFF;
    border: 2px solid #474747;
    border-radius: 2px;
}

#container2 {
    position: relative;
    margin:auto;
    margin-top: 20px;
    width: 600px;
    bottom: 0;
    background-color: #f1f1f1;
    border-radius: 2px;
}

#container3 {
    position: relative;
    margin:auto;
    width: 600px;
    right: 0;
    background-color: #f1f1f1;
    border-radius: 2px;
}

#container4 {
    position: absolute;
    margin:auto;
    margin-left: 20%;
    width: 600px;
    bottom: 0;
    background-color: #f1f1f1;
    border-radius: 2px;
}


#container5 {
    position: relative;
    margin:auto;
    margin-left: 55%;
    width: 600px;
    bottom: 0;
    background-color: #f1f1f1;
    border-radius: 2px;
}


.button_class, .button_comment, .button_delete {
    background-color: #F1F1F1;
    padding: 4px 2px;
    border: none;
    color: #474747;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
}

h1 {
    text-align:center;
}

img.gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#block {
    text-align: center;
}

#block2 {
    left: 0;
}

#block3 {
    position: absolute;
    margin:auto;
    margin-right: 20%;
}

input {
    position: bottom;
    padding: 2px;
    width: 88%;
}

span, h1 {
    color: #474747;
    font: medium;
}

#checkbox {
    margin: auto;
    display: inline-block;
}

.imgblock {
    position: relative;
    float: right;
}